
  <section class="chat">
    <div class="chat-timeline">
      <div *ngFor="let comment of comes$" class="list-group-item list-group-item-action flex-column align-items-start border-0">
          <div class="media">
            <div class="media-body">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="media-heading">{{ comment.user.name}}
                  <ng-container *ngIf="comment.user.id === currentUser.id">
                    <i title="編集" (click)="comment.isEdit = !comment.isEdit"><mat-icon>edit</mat-icon></i>
                    <a data-toggle="modal" data-target="#deleteModal"><i title="削除"><mat-icon>delete</mat-icon></i></a> 

                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">削除確認画面</h4>
                              </div>
                              <div class="modal-body">
                                  <label>データを削除しますか？</label>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                  <button type="button" class="btn btn-danger" (click)="deleteComment(comment)">削除</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  </ng-container>
                  
                </h4>
                <small class="media-date">{{ comment.createdAt | commentDate}}</small>
              </div>
              <ng-container *ngIf="!comment.isEdit">
                <pre>{{ comment.message }}</pre>
              </ng-container>
              <ng-container *ngIf="comment.isEdit">
                <div class="input-group">
                  <textarea [(ngModel)]="comment.message" name="edit-comment" class="form-control"></textarea>
                </div>
                <div class="edit-group">
                  <button class="btn btn-info btn-sm" (click)="updateComment(comment)">保存</button>
                  <button class="btn btn-light btn-sm" (click)="comment.isEdit = false">キャンセル</button>
                  
                </div>
              </ng-container>
              
            </div>
            <div *ngIf="comment.user.id === currentUser.id" class="media-right">
              <a href="#" class="icon">A</a>
            </div>
          </div>
        
      </div>
    </div>
  </section>

  <section class="chat-editor">
    <form #form=ngForm (ngSubmit)="setComment(form.value)" class="chat-form">
      <div class="form-header d-flex flex-row-reverse mb-2">
        <span class="input-group-btn">
          <button class="btn btn-info btn-sm" type="submit" tabindex="2">送信</button>
        </span>
      </div>
      <div class="input-group">
        <textarea
        [(ngModel)]="form.value.message"
        name="message" 
        class="form-control"
        placeholder="メッセージを入力"
        tabindex="1"></textarea>
      </div>
    </form>
  </section>

