<div class="page">
  <section class="chat">
    <div class="chat-timeline">
      <div *ngFor="let comment of comes$" class="list-group-item list-group-item-action flex-column align-items-start border-0">
          <div class="media">
            <div class="media-body">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="media-heading">{{ comment.user.name}}
                  <ng-container *ngIf="comment.user.id === currentUser.id">
                    <mat-icon>edit</mat-icon>                      
                  </ng-container>
                </h4>
                <small class="media-date">{{ comment.createdAt | commentDate}}</small>
              </div>
              <pre>{{ comment.message }}</pre>
            </div>
            <div *ngIf="comment.user.id === currentUser.id" class="media-right">
              <a href="#" class="icon">A</a>
            </div>
          </div>
        
      </div>
      <div *ngIf="$items | async as i" class="list-group-item list-group-item-action flex-column align-items-start border-0">
        <div class="media">
          
          <div class="media-left">
          </div>
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="media-heading">{{ i.users[0].name}}</h4>
            </div>
            <pre>{{ i.users[0].email }}</pre>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="chat-editor">
    <form #form=ngForm (ngSubmit)="setComment(form.value)" class="chat-form">
      <div class="form-header d-flex flex-row-reverse mb-2">
        <span class="input-group-btn">
          <button class="btn btn-info btn-sm" type="submit" tabindex="2">送信</button>
        </span>
      </div>
      <div class="input-group">
        <textarea
        [(ngModel)]="comes$"
        name="message" 
        class="form-control"
        placeholder="メッセージを入力"
        tabindex="1"></textarea>
      </div>
    </form>
  </section>
</div>
